@font-face {
  font-family: 'Avatar';
  src: url('../fonts/Avatar/avatarock.ttf') format('truetype');
}

@font-face {
  font-family: 'Misto';
  src: url('../fonts/Misto/ofont.ru_Misto.ttf') format('truetype');
}

@font-face {
  font-family: 'Bressay Trial';
  src: url('../fonts/Bressay-Trial/Bressay-Trial.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/Roboto/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/RobotoRegular.ttf') format('truetype');
}
