// Font
$mainFont: 'Roboto';
$codeFont: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$heading-font: 'RobotoItalic';

// * Colors
$font-color: #2d2d2d;
$light-color: #f2f1e7;
$light-wooden-color: #f29776;
$medium-wooden-color: #915b4a;
$dark-wooden-color: #5c4d4d;
$accent-color: #ff6f5e;

// * Neutral Colors
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-light: #e5e5e5;
$neutral-placeholder: whitesmoke;

// * Border Colors
$border-base: #dcdfe6;
// $border-light: #e4e7ed;
// $border-lighter: #ebeef5;
// $border-lightex: #f2f6fc;

// * Shadows
$light-shadow: #f2f1e7;
$dark-shadow: #d5d5d5;
$light-wooden-shadow: #f29776;
$medium-wooden-shadow: #915b4a;
$dark-wooden-shadow: #5c4d4d;
