.Wrapper {
  display: grid;
  margin-top: 15px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.PointsItem {
  background-color: whitesmoke;
  padding: 15px;
  box-shadow: 0 0 3px #eeeeee;
}

@media all and (max-width: 992px) {
  .Wrapper {
    grid-template-columns: 1fr;
  }
}
