@import '../../../assets/styles/utils/vars.scss';

.Item {
  background-color: $light-color;
  padding: 10px 15px;
}

.Item a {
  color: $dark-wooden-color;
}

.Item a:hover {
  color: $accent-color;
}
