@import '../../../assets/styles/utils/vars.scss';

.Wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-row-gap: 1em;
  padding: 15px;
  border-right: 1px solid $neutral-light;
  background: linear-gradient(
    to bottom,
    $dark-wooden-color 0%,
    $light-color 49%,
    $light-color 51%
  );
}

.NameWrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.Name {
  display: block;
  width: 100%;
  border: 1px solid $light-color;
  padding: 0.2em;
  text-shadow: 0 0 2px $light-color;
  color: $light-color;
  border-radius: 0.2rem;
  text-align: center;
  cursor: default;
}

.Image {
  margin: 0 auto;
  box-shadow: 0 0 3px $dark-wooden-shadow;
  max-height: 100px;
}

.ButtonWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Button {
  width: 100%;
  color: $accent-color;
  padding: 0.2em 0.3em;
  border: 1px solid $accent-color;
  text-align: center;
  background-color: $light-color;
  border-radius: 0.2rem;
  transition: 0.2s;
}

.Button:hover {
  cursor: pointer;
  color: $light-color;
  background-color: $accent-color;
  border-color: $accent-color;
}

@media all and (max-width: 768px) {
  .Wrapper {
    border-right: none;
    border-bottom: 1px solid $neutral-light;
  }
}
