@import '../../../assets/styles/utils/vars.scss';

.Wrapper {
  margin-top: 1rem;
  box-shadow: 0 0 3px $dark-wooden-shadow;
  background-color: #fff;
  padding: 0.2em 0.5em 0;
  font-size: 18pt;
  border-radius: 3px;
  font-family: 'Bressay Trial';
}
