@import '../../assets/styles/utils/vars.scss';

.List {
  margin-top: 1em;
  background-color: $dark-wooden-color;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
  column-gap: 1em;
  row-gap: 1em;
}
