@import '../../assets/styles/utils/vars.scss';

.Wrapper {
  margin-top: 1rem;
  box-shadow: 0 0 3px $dark-wooden-shadow;
  background-color: #fff;
  padding: 0.2em 0.5em 0;
  font-size: 18pt;
  border-radius: 3px;
  font-family: 'Bressay Trial';
}

.DescWrapper {
  margin: 1em 0;
}

.Description {
  background-color: $neutral-placeholder;
  padding: 1em;
  box-shadow: 0 0 3px $neutral-secondary;
}
