@import '../../assets/styles/utils/vars.scss';

.Wrapper {
  margin-top: 1rem;
  box-shadow: 0 0 3px $dark-wooden-shadow;
  background-color: #fff;
  padding: 10px 15px;
  font-size: 18pt;
  border-radius: 3px;
  font-family: 'Bressay Trial';
}
