// @import 'utils/libs';
@import './utils/vars';
// @import 'utils/mixins';
@import 'utils/fonts';
@import './utils/reset';

body {
  background-color: $light-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  color: $font-color;
}

code {
  font-family: $codeFont;
}
